 <div class="rightDiv">
    <img class="flightImg" src="/Images/upward.svg" alt="" />
    <p class="para">
      "Every word holds meaning, every story carries a message, and every
      idea has the power to spark change. Writing is more than just
      expression—it is a bridge between thoughts and the world, a way to
      leave a mark, and a journey of endless discovery."
    </p>
  </div>
</main>